
/* Footer section */
#footer-section {
    background-color: rgb(248, 244, 220);
    padding: 3rem 0rem 0rem 0rem;
    margin: 2rem 0rem 0rem 0rem;
  }
  .footer-header {
    font-weight: 900;
  }
  .footer-inner {
    font-size: 20px;
  }
  @media only screen and (max-width: 768px) {
    .footer-inner {
      font-size: 19px;
    }
  }