/* Override bootstrap class */
.navbar-brand {
    /* color: rgb(146, 114, 43) !important;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700; */
    width: 260.29px;
    height: 62px;
    background-image: url("/CyberHuskies/inc/pictures/cyberhuskies_fv.png");
    background-size: cover;
}
.modal-footer a, .modal-body a {
    text-decoration: none;
  }
/* Search button  */
#searchProduct {
    background-color: rgb(201, 99, 99);
    border-radius: 3px;
    font-size: 18px;
    transition: box-shadow 0.1s;
    color: rgb(252, 252, 252);
}

@media screen and (max-width: 1200px) {
    #searchProduct:hover {
        background-color: rgb(170, 99, 99);
    }
}


@media screen and (min-width: 1201px) {
    #searchProduct {
        width: 130px;
    }
    
    #searchProduct:hover {
        box-shadow: grey 0px 1px 3px;
    } 
}
.nav-link {
    font-size: 18px; 
    white-space: nowrap;
}

/* Border top hover  only on larger screens */
@media screen and (min-width: 990px) {
    .border-top:hover {
        border-top: 2px solid rgb(112, 99, 24) !important;
    }
}
.dropdown-item:hover {
    background-color: rgb(248, 244, 220);
}
.dropdown-item {
    padding: 10px;
}
/* shoping bag s */
.shopping-icon {
    font-size: 25px;
    transition: transform .2s; /* Animation */
}

/* Transition on shoping bag only on larger screens */
@media screen and (min-width: 990px) {
    .shopping-icon:hover {
    transform: scale(1.5); 
    }
}

/* Login/Signup button */
.btn-register {
    border-radius: 0;
   }
   
/* button width only on larger screens */
@media screen and (min-width: 1300px) {
    .btn-register {
        height: 55px;
        width: 110px;
    }
    .button-text {
        display: inline-block;
    }
}
@media screen and (max-width: 1300px) and (min-width: 1200px) {
    .button-text {
        display: none;
    }
}
@media screen and (max-width: 1200px) and (min-width: 991px) {
    .nav-link {
        font-size: 14px; 
    }
    
    .button-text {
        display: none;
    }
}
.btn-register:hover {
 background-color: rgb(250, 243, 202);
}

/* Dropdown only on bigger screens */
@media only screen and (min-width: 769px) {
    .dropdown:hover > .dropdown-menu {
      display: block;
    }
}

body{
    overflow-y: scroll !important;
}
.navbar {
    padding-right: 0px !important; 
}
.modal-open[style] {
    padding-right: 0px !important;
 }