
/* @media only screen and (max-width: 600px) {
    .cart-product {
        flex-direction: column;
    }
} */

.product-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #eeb238ff;
}

.product-inputs {
    margin: 70px 0;
    padding: 90px 150px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.product-input {
    padding: 20px;
}


.product-input label, .product-input input {
    display: block;
    margin: 10px 0;
}

.product-input label {
    color: rgb(97, 95, 95);
    font-style: italic;
}

.product-input input {
    width: 260px;
    height: 50px;
}

.product-input textarea {
    width: 260px;
}

#cat_input {
    width: 260px;;
}

#photo_input {
    width: 260px;
}

.add-photo button {
    background-color: rgb(53, 179, 22);
    color: white;
    border: none;
    border-radius: 3px;
}

.publish-btn-container {
    display: flex;
    width: 100%;
    padding-top: 70px;
}

.publish-btn-container button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: rgb(61, 87, 165);
    border: none;
    color: white;
    border-radius: 5px;
}

.publish-btn-container button:hover {
    box-shadow: grey 0px 1px 5px;
    transition: 0.2s;
}

