
body {
    margin: 0;
    padding-top: 150px;
}

.navbar.navbar-expand-lg {
    transition: 0.3s;;
}

.nav-item {
    padding: 20px;
}

.dep-links a:hover {
    background-color: rgb(248, 244, 220);
    
}

a.nav-item:hover {
    border-top: 1px solid sandybrown;
    overflow: hidden;
}

::placeholder {
    font-style: italic;
    text-align: left;
    color: rgb(160, 160, 160);
}


.cal-links {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cal-links a {
    display: block;
    padding: 10px;
    margin: 0;
    width: 100%;
    border: none;
}

.cal-links-show {
    display: block;
}

.cal-links a:hover {
    background-color: rgb(248, 244, 220);   
}

.navbar.navbar-expand-lg {
    background-color: white;    
}



.carousel-name-container {
    width: 100%;
    padding: 50px;
    display: flex;
    height: 600px;
}

#prod-carousel {
    width: 60%;
}

#prod-carousel.carousel .carousel-item {
    height: 100%;
}

#prod-carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.name-button-container {
    width: 30%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.name-button-container .product-name {
    font-size: 20px;
    font-weight: bold;
}

.name-button-container .short-descr {
    padding-top: 10px;
}

.buttons-container {
    margin-top: auto;
}


.buttons-container .button {
    padding: 10px;
    border-radius: 4px;
    font-size: large;
    border:1px solid transparent; 
}

.buttons-container .button:hover {
    cursor: pointer;
}

.buttons-container .save-product {
    margin-right: 20px;
    background-color: rgb(181, 201, 224);
    color: rgb(255, 255, 255);
}

.buttons-container .bid-now {
    color: grey;
}

.buttons-container .save-product:hover {
    background-color: rgb(15, 132, 228);
    color: white;
    transition: 0.2s;
}

.buttons-container .bid-now:hover {
    background-color: rgba(252, 210, 23, 0.568);
    color: black;
    transition: 0.2s;
    border-color: rgb(235, 194, 107);
}

.bookmark-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.bookmarks a, .bookmarks a i{
    color: grey;
    text-decoration: none;
}

.bookmarks a:hover {
    color: rgb(65, 65, 65);
}

.content-space {
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
}


.content-item {
    padding-bottom: 50px;
}


/* products */
.related-container {
    display: flex;
    width: 100%;
    
}

.related-sub-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 100%;
    overflow: hidden;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.product {
    width: 300px;
    height: auto;
    margin: 10px;
    
}

.related-container .title {
    width: 50%;
    display: block;
    float: none;
    max-height: 100px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
}

.product-image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    
    
}

.product-img1 {
    background-image: url("images/products.jpg");
    background-position: center;
    background-size: cover;
}

.product-img2 {
    background-image: url("images/products2.jpg");
    background-position: center;
    background-size: cover;
}

.product-img3 {
    background-image: url("images/products3.jpg");
    background-position: center;
    background-size: cover;
}

.product-img4 {
    background-image: url("images/products4.jpg");
    background-position: center;
    background-size: cover;
}

.product-img5 {
    background-image: url("images/products2.jpg");
    background-position: center;
    background-size: cover;
}

.product-img6 {
    background-image: url("images/products3.jpg");
    background-position: center;
    background-size: cover;
}

.product-img7 {
    background-image: url("images/products2.jpg");
    background-position: center;
    background-size: cover;
}

.product-img8 {
    background-image: url("images/products.jpg");
    background-position: center;
    background-size: cover;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 200px 200px 50px;
    background-color: rgb(185, 178, 178);
    width: 100%;
}

.footer::after {
    content: "";
    display: block;
    clear: both;
}

.footer ul {
    list-style-type: none;
}

.footer li {
    text-decoration: underline;
}

.footer .header {
    margin-left: -2px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}