
body {
    margin: 0;
    padding-top: 150px;
}

.navbar.navbar-expand-lg {
    background-color: white;
}


.nav-item {
    padding: 20px;
}


::placeholder {
    font-style: italic;
    text-align: left;
    color: rgb(160, 160, 160);
}



.cal-links a:hover {
    background-color: rgb(248, 244, 220);   
}

.products-container {
    display: flex;
    width: 100%;
    
}

.products {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    margin: 50px;
    justify-content: space-between;

}

/* 
::-webkit-scrollbar {
   width: 50px;
} */


.prod {
    width: 450px;
    height: auto;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
    
}

.products-container .title {
    width: 50%;
    display: block;
    float: none;
    max-height: 100px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
}

.prod-image {
    width: 450px;
    height: 300px;
    margin-bottom: 10px;
    
    
}

.prod-img1 {
    background-image: url("images/products.jpg");
    background-position: center;
    background-size: cover;
}

.prod-img2 {
    background-image: url("images/products2.jpg");
    background-position: center;
    background-size: cover;
}

.prod-img3 {
    background-image: url("images/products3.jpg");
    background-position: center;
    background-size: cover;
}

.prod-img4 {
    background-image: url("images/products4.jpg");
    background-position: center;
    background-size: cover;
}

.prod-img5 {
    background-image: url("images/products2.jpg");
    background-position: center;
    background-size: cover;
}

.prod-img6 {
    background-image: url("images/products3.jpg");
    background-position: center;
    background-size: cover;
}

.prod-img7 {
    background-image: url("images/products4.jpg");
    background-position: center;
    background-size: cover;
}

.prod-img8 {
    background-image: url("images/products3.jpg");
    background-position: center;
    background-size: cover;
}

#sec_carousel {
    margin: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#sec_carousel.carousel .carousel-item {
    height: 700px;
}

#sec_carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

/* departments */
.departments-container {
    display: flex;
    width: 100%;
    
}

.departments-sub-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 100%;
    overflow: hidden;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.department {
    width: 450px;
    height: auto;
    margin: 10px;
    
}

.departments-container .title {
    width: 50%;
    display: block;
    float: none;
    max-height: 100px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
}

.department-image {
    width: 450px;
    height: 300px;
    margin-bottom: 10px;
    
    
}

.department-img1 {
    background-image: url("images/products.jpg");
    background-position: center;
    background-size: cover;
}

.department-img2 {
    background-image: url("images/products2.jpg");
    background-position: center;
    background-size: cover;
}

.department-img3 {
    background-image: url("images/products3.jpg");
    background-position: center;
    background-size: cover;
}

.department-img4 {
    background-image: url("images/products4.jpg");
    background-position: center;
    background-size: cover;
}

.department-img5 {
    background-image: url("images/products2.jpg");
    background-position: center;
    background-size: cover;
}

.department-img6 {
    background-image: url("images/products3.jpg");
    background-position: center;
    background-size: cover;
}

.department-img7 {
    background-image: url("images/products2.jpg");
    background-position: center;
    background-size: cover;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 200px 200px 50px;
    background-color: rgb(248, 244, 220);
}

.footer ul {
    list-style-type: none;
}

.footer li {
    text-decoration: underline;
}

.footer .header {
    margin-left: -2px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}